.postListStructure {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: center;
}

.postCard {
    display: flex;
    flex-direction: row;
    width: 41%;
    margin: 1%;
    border-radius: 10px;
    background-color: white;
}

.postCard:hover{
    box-shadow: 0 0 50px rgba(33,33,33,.5);
    elevation: above;
}


.postDetails {
    width: 100%;
    padding: 8px;
    color: black;
    background-color: lightgrey;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.postCreateName {
    padding: 12px;
    width: auto;
    color: black;
    background-color: white;
    align-self: center;
    text-align: center;
}

span.deleteIcon{
    align-self: center;
    padding-right: 20px;
}

.title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    color: grey;

}

span.ellipsis:hover,
span.ellipsis:focus,
span.deleteIcon:hover,
span.deleteIcon:focus{
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

span.ellipsis{
    float: right;
    padding-right: 20px;
}

.postlist-body{
    background-color: #ffeedd;
}

.confirmButton{
    background-color: green;
    color: white;
    width: 90px;
    padding: 10px;
    float: right;
    margin: 10px 10px 0 0;
    font-family: 'Lato', sans-serif;
    border: none;
    font-weight: bold;
}

.cancelButton{
    background-color: red;
    color: white;
    width: 90px;
    padding: 10px;
    float: right;
    margin: 10px 10px 0 0;
    font-family: 'Lato', sans-serif;
    border: none;
    font-weight: bold;
}



.confirmPopUpModal {
    width: 100%;
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 10%;
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0, 0, 0); /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

.confirmPopUpContainer {
    width: 350px;
    background: white;
    margin: auto;
    padding: 20px;
    align-items: center;
    font-family: 'Lato', sans-serif;
}


.confirmPopUpContent {
    display: flex;
    flex-direction: row;
    background-color: white;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
}